@model OrderSystem.Commons.PaginatedList<OrderSystem.ViewModels.ProductIndexViewModel>

@Html.AntiForgeryToken()
@using Microsoft.AspNetCore.Authorization
@using OrderSystem.Authorization
@inject IAuthorizationService AuthorizationService

<form asp-action="Index" id="form_search" method="get">
    <div class="search-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <h1 class="pt-5 pb-3 main-color01">商品項目列表</h1>
                    </div>
                    <div class="row">
                        <div class="col-sm col-md-2 col-lg-2 col-xl-2">
                            <label class="custom-label">商品編號</label>
                            <div class="form-group form-row">
                                <div class="col">
                                    <input id="input_number" type="text" class="form-control mr-2" name="searchStringNumber" value="@ViewData["CurrentFilterNumber"]" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm col-md-2 col-lg-2 col-xl-2">
                            <label class="custom-label">商品名稱</label>
                            <div class="form-group form-row">
                                <div class="col">
                                    <input id="input_name" type="text" class="form-control mr-2" name="searchStringName" value="@ViewData["CurrentFilterName"]" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-main-color01 mb-2">查詢資料</button>
                        <button id="btn-clearSearch" class="btn btn-main-color02 outline-btn  mb-2">清空查詢</button>
                    </div>
                    <hr class="mt-0">
                    <div class="d-flex justify-content-end">
                        <div class="col-12 col-sm-2 px-0">
                            <div class="form-group">
                                <select class="form-control" name="sortOrder" onchange="this.form.submit()">
                                    <option value="0" selected="@((string)ViewData["CurrentSort"] == "0")">預設排序</option>
                                    <option value="1" selected="@((string)ViewData["CurrentSort"] == "1")">商品名稱 高→低</option>
                                    <option value="2" selected="@((string)ViewData["CurrentSort"] == "2")">商品名稱 低→高</option>
                                    <option value="3" selected="@((string)ViewData["CurrentSort"] == "3")">商品庫存量 高→低</option>
                                    <option value="4" selected="@((string)ViewData["CurrentSort"] == "4")">商品庫存量 低→高</option>
                                    <option value="5" selected="@((string)ViewData["CurrentSort"] == "5")">商品價格 高→高</option>
                                    <option value="6" selected="@((string)ViewData["CurrentSort"] == "6")">商品價格 低→高</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-3">
            <div class="col">
                <div class="text-right">
                    @if ((await AuthorizationService.AuthorizeAsync(User, null, new PermissionAuthorizationRequirement(new string[] { Permissions.Product_Create }))).Succeeded)
                    {
                        <button id="btn_productModal" type="button" class="btn btn-main-color01">
                            新增商品
                        </button>
                    }
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col">
                    <div class="table-responsive" id="productTable">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        商品編號
                                    </th>
                                    <th>
                                        商品名稱
                                    </th>
                                    <th>
                                        商品分類
                                    </th>
                                    <th>
                                        價格
                                    </th>
                                    <th>
                                        目前庫存量
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Number)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @if (item.Category.Count == 0)
                                            {
                                                <span>-</span>
                                            }
                                            @foreach (var category in item.Category.Select((value, index) => new { value, index }))
                                            {
                                                @if (category.index != 0) // split 、
                                                {
                                                    <span>、</span>
                                                }
                                                <span class="CategoryProduct_@item.Id" data-Id="@category.value.Id">@category.value.Name</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CurrentUnit)
                                        </td>
                                        <td>
                                            @if ((await AuthorizationService.AuthorizeAsync(User, null, new PermissionAuthorizationRequirement(new string[] { Permissions.Product_Modify }))).Succeeded)
                                            {
                                                <button name="btn_updateProductModal"
                                                        data-Id="@item.Id"
                                                        data-Name="@item.Name"
                                                        data-Price="@item.Price"
                                                        data-Number="@item.Number"
                                                        data-Description="@item.Description"
                                                        data-CurrentUnit="@item.CurrentUnit" type="button" class="btn btn-main-color01">
                                                    編輯
                                                </button>
                                                <button name="btn_changeProductUnitModal"
                                                        data-Id="@item.Id"
                                                        data-Name="@item.Name"
                                                        data-Number="@item.Number"
                                                        data-CurrentUnit="@item.CurrentUnit" type="button" class="btn btn-main-color01 outline-btn">
                                                    異動數量
                                                </button>
                                            }
                                            @if ((await AuthorizationService.AuthorizeAsync(User, null, new PermissionAuthorizationRequirement(new string[] { Permissions.Product_Delete }))).Succeeded)
                                            {
                                                <button name="btn_deleteProduct"
                                                        data-Id="@item.Id"
                                                        data-Name="@item.Name"
                                                        data-Number="@item.Number"
                                                        type="button" class="btn btn-main-color02">
                                                    刪除
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



   
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <div class="list-pagination mt-3">
        <div class="form-inline text-center">
            <div class="mx-auto">
                每頁
                <select id="select_changePageSize" class="custom-select" name="pageSize">
                    <option value="10" selected="@((int)ViewData["pageSize"]==10)">10</option>
                    <option value="30" selected="@((int)ViewData["pageSize"]==30)">30</option>
                    <option value="50" selected="@((int)ViewData["pageSize"]==50)">50</option>
                </select>，第 <span>@(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) / @Model.TotalPages</span> 頁，共 <span>@Model.TotalPages</span> 頁，
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilterNumber="@ViewData["CurrentFilterNumber"]"
                   asp-route-currentFilterName="@ViewData["CurrentFilterName"]"
                   asp-route-pageSize="@ViewData["PageSize"]"
                   class="btn btn-outline-secondary btn-sm @prevDisabled">
                    上一頁
                </a>｜跳至第
                <select id="select_goToPage" class="custom-select" name="goToPageNumber">
                    <option>
                        選擇
                    </option>
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <option value="@i" selected="@(Model.PageIndex == i)">
                            @i
                        </option>
                    }
                </select>
                頁｜
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilterNumber="@ViewData["CurrentFilterNumber"]"
                   asp-route-currentFilterName="@ViewData["CurrentFilterName"]"
                   asp-route-pageSize="@ViewData["PageSize"]"
                   class="btn btn-outline-secondary btn-sm @nextDisabled">
                    下一頁
                </a>
            </div>
        </div>
    </div>
</form>


<!-- Modal -->
<div class="modal fade" id="productUpdateModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">更新商品</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <input id="update_product_Id" type="hidden">
                    <div class="form-group">
                        <label for="exampleInputEmail1">商品名稱</label>
                        <input id="update_product_name" type="text" class="form-control" placeholder="請輸入商品名稱">
                        <div id="update_errorName"></div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">商品編號</label>
                        <input disabled id="update_product_number" type="text" class="form-control" placeholder="請輸入商品編號">
                        <div id="update_errorNumber"></div>
                    </div>
                    <div class="form-group">
                        <label>商品分類</label>
                        <select id="update_product_catrgory_select" class="ProductCategorySelect form-control" name="states[]" multiple="multiple">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">商品價錢</label>
                        <input id="update_product_price" type="number" class="form-control" placeholder="0.00">
                        <div id="update_errorPrice"></div>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">商品數量</label>
                        <input disabled id="update_product_currentUnit" type="number" class="form-control" placeholder="0.00">
                        <div id="update_errorCurrentUnit"></div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">商品描述</label>
                        <textarea id="update_product_description" type="text" class="form-control" placeholder=""></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-main-color02 outline-btn" data-dismiss="modal">取消</button>
                    <button id="btn_productUpdate" type="button" class="btn btn-main-color01">更新</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="productCreateModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">新增商品</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="exampleInputEmail1">商品名稱</label>
                        <input id="product_name" type="text" class="form-control" placeholder="請輸入商品名稱">
                        <div id="errorName"></div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">商品編號</label>
                        <input id="product_number" type="text" class="form-control" placeholder="請輸入商品編號">
                        <div id="errorNumber"></div>
                    </div>
                    <div class="form-group">
                        <label>商品分類</label>
                        <select id="product_catrgory_select" class="ProductCategorySelect form-control" name="states[]" multiple="multiple">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">商品價錢</label>
                        <input id="product_price" type="number" class="form-control" placeholder="0.00">
                        <div id="errorPrice"></div>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">商品數量</label>
                        <input id="product_currentUnit" type="number" class="form-control" placeholder="0.00">
                        <div id="errorCurrentUnit"></div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">商品描述</label>
                        <textarea id="product_description" type="text" class="form-control" placeholder=""></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-main-color02 outline-btn" data-dismiss="modal">取消</button>
                    <button id="btn_productCreate" type="button" class="btn btn-main-color01">新增</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="productUnitChangeModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">異動商品數量</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <input id="uId" type="hidden">
                    <div class="form-group">
                        <label for="exampleInputEmail1">商品名稱</label>
                        <input disabled id="uName" type="text" class="form-control" placeholder="請輸入商品名稱">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">商品編號</label>
                        <input disabled id="uNumber" type="text" class="form-control" placeholder="請輸入商品編號">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">原本商品數量</label>
                        <input disabled id="uCurrentUnit" type="number" class="form-control" placeholder="0.00">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">商品數量修改為</label>
                        <input id="uNewUnit" type="number" class="form-control" placeholder="0.00">
                        <div id="uErrorCurrentUnit"></div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">異動原因</label>
                        <input id="uDescription" type="text" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-main-color02 outline-btn"data-dismiss="modal">取消</button>
                    <button id="btn_changeProductUnit" type="button" class="btn btn-main-color01">確定更新數量</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Pages/Product/Index.js"></script>
}
