@model OrderSystem.Commons.PaginatedList<OrderSystem.ViewModels.RoleIndexViewModel>

@Html.AntiForgeryToken()
@using Microsoft.AspNetCore.Authorization
@using OrderSystem.Authorization
@inject IAuthorizationService AuthorizationService

<form asp-action="Index" id="form_search">
    <div class="search-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <h1 class="pt-5 pb-3 main-color01">權限角色列表</h1>
                    </div>
                    <div class="row">
                        <div class="col-sm col-md-2 col-lg-2 col-xl-2">
                            <label class="custom-label">名稱</label>
                            <div class="form-group form-row">
                                <div class="col">
                                    <input id="input_name" type="text" class="form-control mr-2" name="searchStringName" value="@ViewData["CurrentFilterName"]" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-main-color01 mb-2">查詢資料</button>
                        <button id="btn-clearSearch" class="btn btn-main-color02 outline-btn  mb-2">清空查詢</button>
                    </div>
                    <hr class="mt-0">
                    <div class="d-flex justify-content-end">
                        <div class="col-12 col-sm-2 px-0">
                            <div class="form-group">
                                <select class="form-control" name="sortOrder" onchange="this.form.submit()">
                                    <option value="0" selected="@((string)ViewData["CurrentSort"] == "0")">預設排序</option>
                                    <option value="1" selected="@((string)ViewData["CurrentSort"] == "1")">名稱 高→低</option>
                                    <option value="2" selected="@((string)ViewData["CurrentSort"] == "2")">名稱 低→高</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



   

    <div class="container">
        <div class="row my-3">
            <div class="col">
                <div class="text-right">
                    @if ((await AuthorizationService.AuthorizeAsync(User, null, new PermissionAuthorizationRequirement(new string[] { Permissions.Basic_Permission_Create }))).Succeeded)
                    {
                        <a href="/Role/RoleCreate" type="button" class="btn btn-main-color01">
                            新增權限角色
                        </a>
                    }
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="table-responsive" id="productTable">
                        <table  class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        名稱
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @if ((await AuthorizationService.AuthorizeAsync(User, null, new PermissionAuthorizationRequirement(new string[] { Permissions.Basic_Permission_Modify }))).Succeeded)
                                            {
                                                <a href="/Role/RoleEdit?RoleId=@item.Id" type="button" class="btn btn-main-color01">
                                                    編輯
                                                </a>
                                            }
                                            @if ((await AuthorizationService.AuthorizeAsync(User, null, new PermissionAuthorizationRequirement(new string[] { Permissions.Basic_Permission_Delete }))).Succeeded)
                                            {
                                                <button name="btn_removeRole" data-Id="@item.Id" data-Name="@item.Name" type="button" class="btn btn-main-color02 ">
                                                    刪除
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <div class="list-pagination mt-3">
            <div class="form-inline text-center">
                <div class="mx-auto">
                    每頁
                    <select id="select_changePageSize" class="custom-select" name="pageSize">
                        <option value="10" selected="@((int)ViewData["pageSize"]==10)">10</option>
                        <option value="30" selected="@((int)ViewData["pageSize"]==30)">30</option>
                        <option value="50" selected="@((int)ViewData["pageSize"]==50)">50</option>
                    </select>，第 <span>@(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) / @Model.TotalPages</span> 頁，共 <span>@Model.TotalPages</span> 頁，
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilterName="@ViewData["CurrentFilterName"]"
                       asp-route-pageSize="@ViewData["PageSize"]"
                       class="btn btn-outline-secondary btn-sm @prevDisabled">
                        上一頁
                    </a>｜跳至第
                    <select id="select_goToPage" class="custom-select" name="goToPageNumber">
                        <option>
                            選擇
                        </option>
                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            <option value="@i" selected="@(Model.PageIndex == i)">
                                @i
                            </option>
                        }
                    </select>
                    頁｜
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilterName="@ViewData["CurrentFilterName"]"
                       asp-route-pageSize="@ViewData["PageSize"]"
                       class="btn btn-outline-secondary btn-sm @nextDisabled">
                        下一頁
                    </a>
                </div>
            </div>
        </div>
</form>


    @section Scripts {
        <script src="~/js/Pages/Role/Index.js"></script>
    }
